# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# .env
.env
.env.local
.env.development
.env.test
.env.production

# Misc
.DS_Store
.fleet
.idea

# Firebase Admin SDK Credentials
service-account.json
